:root {
  --color-prettylights-syntax-comment: #8b949e;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-variable: #ffa657;
  --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
  --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
  --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc;
  --color-prettylights-syntax-carriage-return-bg: #b62324;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-markup-list: #f2cc60;
  --color-prettylights-syntax-markup-heading: #1f6feb;
  --color-prettylights-syntax-markup-italic: #c9d1d9;
  --color-prettylights-syntax-markup-bold: #c9d1d9;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02;
  --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff;
  --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  --color-fg-default: #c9d1d9;
  --color-fg-muted: #8b949e;
  --color-fg-subtle: #484f58;
  --color-canvas-default: #0d1117;
  --color-canvas-overlay: #161b22;
  --color-canvas-inset: #010409;
  --color-canvas-subtle: #161b22;
  --color-border-default: #30363d;
  --color-border-muted: #21262d;
  --color-border-subtle: rgba(240,246,252,0.1);
  --color-shadow-small: 0 0 transparent;
  --color-shadow-medium: 0 3px 6px #010409;
  --color-shadow-large: 0 8px 24px #010409;
  --color-shadow-extra-large: 0 12px 48px #010409;
  --color-neutral-emphasis-plus: #6e7681;
  --color-neutral-emphasis: #6e7681;
  --color-neutral-muted: rgba(110,118,129,0.4);
  --color-neutral-subtle: rgba(110,118,129,0.1);
  --color-accent-fg: #58a6ff;
  --color-accent-emphasis: #1f6feb;
  --color-accent-muted: rgba(56,139,253,0.4);
  --color-accent-subtle: rgba(56,139,253,0.15);
  --color-success-fg: #3fb950;
  --color-success-emphasis: #238636;
  --color-success-muted: rgba(46,160,67,0.4);
  --color-success-subtle: rgba(46,160,67,0.15);
  --color-attention-fg: #d29922;
  --color-attention-emphasis: #9e6a03;
  --color-attention-muted: rgba(187,128,9,0.4);
  --color-attention-subtle: rgba(187,128,9,0.15);
  --color-severe-fg: #f85149;
  --color-severe-emphasis: #da3633;
  --color-severe-muted: rgba(248,81,73,0.4);
  --color-severe-subtle: rgba(248,81,73,0.15);
  --color-danger-fg: #f85149;
  --color-danger-emphasis: #da3633;
  --color-danger-muted: rgba(248,81,73,0.4);
  --color-danger-subtle: rgba(248,81,73,0.15);
  --color-done-fg: #a371f7;
  --color-done-emphasis: #8957e5;
  --color-done-muted: rgba(163,113,247,0.4);
  --color-done-subtle: rgba(163,113,247,0.15);
  --color-sponsors-fg: #db61a2;
  --color-sponsors-emphasis: #bf4b8a;
  --color-sponsors-muted: rgba(219,97,162,0.4);
  --color-sponsors-subtle: rgba(219,97,162,0.15);
  --color-primer-fg-disabled: #484f58;
  --color-primer-canvas-backdrop: rgba(1,4,9,0.8);
  --color-primer-canvas-sticky: rgba(13,17,23,0.95);
  --color-primer-border-active: #f78166;
  --color-primer-border-contrast: rgba(240,246,252,0.2);
  --color-primer-shadow-highlight: 0 0 transparent;
  --color-primer-shadow-inset: 0 0 transparent;
  --color-primer-shadow-focus: 0 0 0 3px #0c2d6b;
  --color-scale-gray-0: #f0f6fc;
  --color-scale-gray-1: #c9d1d9;
  --color-scale-gray-2: #8b949e;
  --color-scale-gray-3: #6e7681;
  --color-scale-gray-4: #484f58;
  --color-scale-gray-5: #30363d;
  --color-scale-gray-6: #21262d;
  --color-scale-gray-7: #161b22;
  --color-scale-gray-8: #0d1117;
  --color-scale-gray-9: #010409;
  --color-scale-blue-0: #cae8ff;
  --color-scale-blue-1: #a5d6ff;
  --color-scale-blue-2: #79c0ff;
  --color-scale-blue-3: #58a6ff;
  --color-scale-blue-4: #388bfd;
  --color-scale-blue-5: #1f6feb;
  --color-scale-blue-6: #1158c7;
  --color-scale-blue-7: #0d419d;
  --color-scale-blue-8: #0c2d6b;
  --color-scale-blue-9: #051d4d;
  --color-scale-green-0: #aff5b4;
  --color-scale-green-1: #7ee787;
  --color-scale-green-2: #56d364;
  --color-scale-green-3: #3fb950;
  --color-scale-green-4: #2ea043;
  --color-scale-green-5: #238636;
  --color-scale-green-6: #196c2e;
  --color-scale-green-7: #0f5323;
  --color-scale-green-8: #033a16;
  --color-scale-green-9: #04260f;
  --color-scale-yellow-0: #f8e3a1;
  --color-scale-yellow-1: #f2cc60;
  --color-scale-yellow-2: #e3b341;
  --color-scale-yellow-3: #d29922;
  --color-scale-yellow-4: #b58500;
  --color-scale-yellow-5: #9e6a03;
  --color-scale-yellow-6: #845306;
  --color-scale-yellow-7: #693e00;
  --color-scale-yellow-8: #4b2900;
  --color-scale-yellow-9: #341a00;
  --color-scale-orange-0: #ffdfb6;
  --color-scale-orange-1: #ffc680;
  --color-scale-orange-2: #ffa657;
  --color-scale-orange-3: #f0883e;
  --color-scale-orange-4: #db6d28;
  --color-scale-orange-5: #bd5622;
  --color-scale-orange-6: #9b4215;
  --color-scale-orange-7: #762d0a;
  --color-scale-orange-8: #5a1e02;
  --color-scale-orange-9: #3d1300;
  --color-scale-red-0: #ffdcd7;
  --color-scale-red-1: #ffb8b0;
  --color-scale-red-2: #ff938a;
  --color-scale-red-3: #f85149;
  --color-scale-red-4: #da3633;
  --color-scale-red-5: #b62324;
  --color-scale-red-6: #8e1519;
  --color-scale-red-7: #67060c;
  --color-scale-red-8: #490202;
  --color-scale-red-9: #300000;
  --color-scale-purple-0: #eddeff;
  --color-scale-purple-1: #e2c5ff;
  --color-scale-purple-2: #d2a8ff;
  --color-scale-purple-3: #bc8cff;
  --color-scale-purple-4: #a371f7;
  --color-scale-purple-5: #8957e5;
  --color-scale-purple-6: #6e40c9;
  --color-scale-purple-7: #553098;
  --color-scale-purple-8: #3c1e70;
  --color-scale-purple-9: #271052;
  --color-scale-pink-0: #ffdaec;
  --color-scale-pink-1: #ffb3d7;
  --color-scale-pink-2: #f781b6;
  --color-scale-pink-3: #db61a2;
  --color-scale-pink-4: #bf4b8a;
  --color-scale-pink-5: #9e3670;
  --color-scale-pink-6: #7d2457;
  --color-scale-pink-7: #5e103e;
  --color-scale-pink-8: #42062a;
  --color-scale-pink-9: #2c001b;
  --color-scale-coral-0: #ffddd2;
  --color-scale-coral-1: #ffc2b2;
  --color-scale-coral-2: #ffa28b;
  --color-scale-coral-3: #f78166;
  --color-scale-coral-4: #ea6045;
  --color-scale-coral-5: #cf462d;
  --color-scale-coral-6: #ac3220;
  --color-scale-coral-7: #872012;
  --color-scale-coral-8: #640d04;
  --color-scale-coral-9: #460701;
}
